/* Логотип - main-logo  */

:root {
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color-header: #000;
  --secondary-bcg-color: #2f303a;
  --button-bcg-color: #f5f4fa;
  --team-bcg-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--main-txt-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
}
/* Container */

/* Утилиты */
.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.page-header {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  color: var(--logo-color-header);
  font-family: Raleway, sans-serif;
  font-weight: 700;

  font-size: 26px;
  line-height: 1.19;
}

.color-span {
  color: var(--accent-color);

  font-size: 26px;
  line-height: 1.19;
}

/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 92px;
}

.site-nav-item {
  display: flex;
  margin-right: 50px;
}

.site-nav-item:last-child {
  margin-right: 0px;
}

.site-nav-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: var(--main-txt-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* Contacts */

.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav-item {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-right: 50px;
}
.contact-nav-item:last-child {
  margin-right: 0px;
}

.contacts-nav .link {
  color: var(--secondary-txt-color);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Main */
.hero {
  background-color: var(--secondary-bcg-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.hero-title {
  margin-top: 0;
  padding-top: 200px;
  padding-left: 229px;
  padding-right: 274px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
}

/* Section Features */

.features-list {
  display: flex;
  padding-top: 95px;
  padding-bottom: 94px;
  margin: 0;
}

.features-list p {
  padding-top: 5px;
}

.section- {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: tomato;
}

.section-title {
  padding-right: 30px;

  font-weight: 700;
}

.section-title:last-child {
  padding-right: 0;
}

.section-text {
  color: var(--secondary-txt-color);
  line-height: 1.71;
}

/* Work */
.work-list {
  display: flex;
}

.work-list-title {
  padding-top: 50px;
  padding-right: 30px;
  margin-bottom: 94px;
}

.work-list-title:last-child {
  padding-right: 0;
}

.section-work-title {
  padding-top: 0px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
}

/* Team */
.team {
  background-color: var(--team-bcg-color);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-description {
  padding-right: 30px;
  margin-bottom: 94px;
  outline: transparent;
  border: 1pt solid #eeeeee;
}
.team-list-description:last-child {
  padding-right: 0;
}

.team-title {
  padding-top: 94px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
}

.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-text {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--secondary-bcg-color);
  display: flex;
}

.footer .logo {
  display: block;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adress {
  font-style: normal;
}
.adress-text {
  color: var(--primary-white-color);
  line-height: 1.71;
}

.contacts-foot-item {
  display: block;
}
.contacts-foot-item:last-child {
  margin-bottom: 60px;
}
.contacts-foot .link {
  color: var(--secondary-txt-color);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* buttons */

.button,
.filter-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  min-width: 200px;

  background-color: var(--button-bcg-color);
  color: var(--main-txt-color);

  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
}
.filter-button {
  min-width: 73px;
  padding: 6px 22px 6px 22px;
  /* padding-top: 6;
  padding-bottom: 6;
  padding-left: 22px;
  padding-right: 22px; */
}

.button:hover,
.button:focus,
.filter-button:hover,
.filter-button:focus {
  color: var(--accent-color);
}

.button,
.filter-button {
  cursor: pointer;
}
.button.primary {
  margin-bottom: 200px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.filter-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Portfolio examples */
.example-title {
  color: var(--main-txt-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-description {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: 30px;
}

/* Filter buttons */
.filter {
  display: flex;
  justify-content: center;
}

.filter-item {
  display: flex;
  margin-top: 94px;
  margin-right: 8px;
  text-align: center;
}

.site-nav-item:last-child {
  margin-right: 0px;
}

.filter-button {
  display: block;
  align-items: center;
  margin-bottom: 34px;
}

/* Portfolio Main */
.examples {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-30px);
  margin-left: calc(-15px);
}

.examples-item {
  flex-basis: calc(100% / 3 - 35px);
  margin-left: 15px;
  margin-top: 30px;
  outline: 1px solid #eeeeee;
}

/* Card */
.card-thumb {
  /* outline: 1px solid red; */
  display: block;
  width: 370px;
  height: 274px;
}

.card-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.example-description {
  margin-top: 10px;
}
